.signup-instr {
    width: 90%;
    height: 20vh;
    margin-top: 3%;
    margin-left: 3%;
    background-color: #ECEBEB;
}
.signup-container h1 {
    text-shadow: 2px 2px 5px orange;
    font-size: 6vmin;
    font-weight: bold;
    margin-top: 10%;
    text-align: center;
}
.signup-instr h3{
    color: red;
    margin-left: 2%;
    font-size: 4vmin;
}

.signup-instr h5{
    margin-left: 2%;
    font-size: 3vmin;
}

.signup-container input {
    padding: 3px;
    font-size: 3.5vmin;
    font-weight: 600;
    width: 35vw;
    height: 4vh;
    margin: 1% auto auto;
    display: block;
}
.signup-container label {
    color: #B4886B;
    font-size: 3.5vmin;
    font-weight: bold;
    display: block;
    margin-top: 4%;
    text-align: center;

}

.signin-link {
    font-weight: 400;
    text-align: center;
    margin-bottom: 5%;
    display: block;
    color: darkblue;
    font-size: 4vmin;
}

.signup-container h4 {
    margin-top: 5%;
    font-size: 3vmin;
    text-align: center;
}

.signup-container button {
    background-color: orange;
    width: 23vw;
    height: 8vh;
    padding: 1%;
    font-size: 3.2vmin;
    font-weight: 600;
    border-radius: 10px;
    margin: 5% auto auto;
    display: block;
}

.signup-error {
    color: red;
    font-weight: bold;
    font-size: 3vmin;
    text-align: center;
    margin-top: 2%;
}
