.subscription-page {
    position: relative;
    top: 65px;
    width: calc(100% - 40px);
    padding: 20px;
    min-height: 100vh;
}

.subscription-page p {
    font-size: 3.5vmin;
    font-weight: bold;
}

.subscription-page table {
    border-collapse: collapse;
    width: 100%;
}

.subscription-page th {
    border-bottom: 1px solid #ddd;
    padding: 2.5vmin;
    font-size: 3.5vmin;
}

.subscription-page td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 2.5vmin;
    font-size: 3vmin;
}
.prev-btn {
    background-color: orange;
    font-weight: 600;
    width: 8vw;
    height: 5vh;
    font-size: 2.5vmin;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 3vw;
}

.next-btn {
    background-color: orange;
    font-weight: 600;
    width: 8vw;
    height: 5vh;
    font-size: 2.5vmin;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 75vw;
}

button:hover {
    cursor: pointer;
}

.subscribe-btn {
    background-color: orange;
    font-weight: 600;
    width: 18vw;
    height: 7vh;
    font-size: 2.5vmin;
    border-radius: 10px;
}

.btn-container {
    display: flex;
}

.card-error {
    font-size: 5vmin;
    font-weight: bold;
    color: red;
}